/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache
/coverage
/.sass-cache/
.connect.lock
/libpeerconnection.log
testem.log
/__screenshots__/

/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

.env
*.env
/src/environments/environment*.ts

.idea/
*.iml
*.iws

.project
.classpath
.c9/
*.launch
.settings/

*.sublime-workspace
*.sublime-project

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/test-results
/karma-coverage
/junit.xml

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

*.log
*.tmp
*.bak
*.swp
*.swo
